WHATSAPP=wa.me/+233201166556
GITHUB=https://github.com/your_username
LINKED_IN=https://www.linkedin.com/in/acc_name-id
TIKTOK=https://vm.tiktok.com/ZMHty6-tiktok/
YOUTUBE=https://youtube.com/@your_acc
MAIL=example@gmail.com
PASSWORD=third_party_gmail_pass
DATABASE_URI=postgresql+psycopg2://samplename:sampleacc@db:5432/the_db
DB_URI_DOCKER=postgresql+psycopg2://samplename:sampleacc@db:5432/the_db
DEV_INIT_DB=0
FLASK_APP=app.py
FLASK_ENV=production
