{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- Contact -->
<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Let's Work Together</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Say Hello</a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="mb-2">SuipJhaps</p>
                <h3 class="fw-bold">Tafo Nhyiaeso, Ashanti</h3>
                <hr class="w-100">
                <p class="mb-2">Call me:</p>
                <h3 class="fw-bold">+233201166556</h3>
                <hr class="w-100">
                <p class="mb-2">Mail me:</p>
                <h3 class="fw-bold">suipjhapson@gmail.com</h3>
                <hr class="w-100">
                <p class="mb-2">Follow me:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary me-2" href="{{ github }}"><i class="fab fa-github"></i></a>
                    <a class="btn btn-square btn-primary me-2" href="{{ tiktok }}"><i class="fab fa-tiktok-t"></i></a>
                    <a class="btn btn-square btn-primary me-2" href="{{ youtube }}"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary me-2" href="{{ linked_in }}"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            {% if is_sent %}
            <div class="col-lg-6" data-wow-delay="0.15s">
                <h1 class="display-5 mb-0">Message sent successfully!</h1>
            </div>
            {% endif %}
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <form method="post" action="{{ url_for('contact_form') }}">
                    {{ form.csrf_token }}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.name(class="form-control", placeholder="Your Name") }} {{ form.name.label }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.email(class="form-control", placeholder="Your Email") }} {{ form.email.label }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form.subject(class="form-control", placeholder="Email's Subject") }} {{
                                form.subject.label }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form.message(class="form-control", placeholder="Type your message") }} {{
                                form.message.label }}
                            </div>
                        </div>
                        <div class="col-12">
                            {{ form.send }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'map.html' %}

{% endblock %}