{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="page-header align-items-start min-vh-100"
  style="background-image: url('{{ url_for('static', filename='img/login.jpg') }}'); background-size: cover;">
  <span class="mask bg-gradient-dark opacity-6"></span>
  <div class="container my-auto">
    <div class="row">
      {% include 'flash_msg.html' %}
      <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <h4 class="text-dark font-weight-bolder text-center mt-2 mb-0">
                SuipJhaps Login
              </h4>
            </div>
          </div>
          <div class="card-body">

            <form role="form" method="post" action="" class="text-start">

              {{ form.csrf_token }}

              {{ form.hidden_tag() }}

              <div class="input-group input-group-outline mb-3">
                {{ form.name_or_email(class="form-control", placeholder="Enter your username or email") }}
              </div>
              <div class="input-group input-group-outline mb-3">
                {{ form.password(class="form-control", type="password", placeholder="Password") }}
              </div>
              <div class="form-check form-switch d-flex align-items-center mb-3">
                <input class="form-check-input" type="checkbox" id="rememberMe">
                <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
              </div>
              <div class="text-center">
                {{ form.login(class="btn bg-gradient-primary w-100 my-4 mb-2") }}
              </div>
              <p class="mt-4 text-sm text-center">
                Don't have an account?
                <a href="{{ url_for('signup') }}" class="text-primary text-gradient font-weight-bold">Sign Up</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block design %}
<div class="col-md-6 text-center text-md-end">
  <a class="text-muted me-3" href="{{ github }}"><i class="fab fa-github"></i></a>
  <a class="text-muted me-3" href="{{ linked_in }}"><i class="fab fa-linkedin"></i></a>
  <a class="text-muted me-3" href="{{ youtube }}"><i class="fab fa-youtube"></i></a>
</div>
{% endblock %}