{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<div class="container-fluid bg-light my-6 mt-0" id="home">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                <h3 class="text-primary mb-3">I'm</h3>
                <h1 class="display-3 mb-3">Theophilus Asamoah Gyapong</h1>
                <h2 class="typed-text-output d-inline"></h2>
                <div class="typed-text d-none">Data Scientist, Web Application Developer, Backend Engineer, Mobile
                    Application
                    Developer, UI/UX
                    Designer, AI Engineer
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- My Service -->
<div class="container-fluid bg-light my-5 py-6" id="service">
    <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">My Services</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="{{ whatsapp }}">Hire Me</a>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-database fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Data Science/ Analytics</h4>
                        <h6 class="mb-3">Start from <span class="text-primary">$99</span></h6>
                        <span>I analyze data and give insightful visualization and details on the data</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Web Application Development</h4>
                        <h6 class="mb-3">Start from <span class="text-primary">$99</span></h6>
                        <span>I build complex enterprise-level web applications with scalability</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-mobile fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Mobile Application Development</h4>
                        <h6 class="mb-3">Start from <span class="text-primary">$99</span></h6>
                        <span>I develop enterprise-level mobile apps with awesome UI and scalability</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-laptop-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">UI/UX Design</h4>
                        <h6 class="mb-3">Start from <span class="text-primary">$19</span></h6>
                        <span>I design beautiful and realistic user interfaces which gives stupendous user
                            experience</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-edit fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3"> Video Editing </h4>
                        <h6 class="mb-3">Start from <span class="text-primary">$49</span></h6>
                        <span> I transform raw video footage into polished final product</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-image fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">Graphic Design</h4>
                        <h6 class="mb-3">Start from <span class="text-primary">$19</span></h6>
                        <span>I design and create appealing and patent visual concepts that fits clients'
                            description</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'map.html' %}

{% endblock %}

{% block design %}{% include 'codex.html' %}{% endblock %}